<h2>Add Aircraft to Fleet</h2>
<form method="post" action="/planes">
  <label for="identifier">Identifier('Tail-Number'): </label><br>
  <input type="text" name="identifier"><br>
  <label for="model">Model: </label><br>
  <input type="text" name="model"><br>
  <label for="serial_number">Serial Number: </label><br>
  <input type="number" name="serial_number"><br>
  <label for="base">Base of Operation: </label><br>
  <input type="text" name="base"><br>

  <input type="submit" id="create" value="Create Aircraft">
</form>
<div class="sidebar">
  <h3>Sample Aircraft</h3>
  <p>Identifier: N12345</p>
  <p>Model: Cessna 172</p>
  <p>Serial Number: 1721012</p>
  <p>Base of Operations: KTPA</p>
</div>
