<h2>There was a problem</h2>
<% if @error_message %>
<p>Trigger Message: <%= @error_message %></p>
<% end %>
<p>Please return to main page, <a href="/signup">sign up</a>, or <a href="/login">log in</a></p>
