<div class="col-sm-8">
  <h2>Welcome to Aviation Fleet Manager</h2>

  <div class="content">
    <% if !logged_in? %>
      <p>Hello! To create or alter a fleet, please login or sign up!</p>
      <p><a href="/signup">Sign Up</a></p>
      <p><a href="/login">Log In</a></p>
    <% else %>
      <p>Hello, <>!</p>
      <p>Use the top navigation to view or add to your fleet.</p>
    <% end %>
  </div>

</div>
