<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AviationFleetManager</title>

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Aviation Fleet Manager</a>
        <a href="/planes">Fleet</a>
        <% if logged_in? %>
        <a href="/planes/new">Add Aircraft</a>
        <a href="/users/<%= @current_user.slug %>">Account</a>
        <% end %>
      </nav>
    </header>
    <p>Current session: <%= session[:user_id] %></p>
    <div class="wrapper">
        <%= yield %>

    </div>
    <footer>
      <small>&copy; 2018 Aviation Fleet Manager</small>
    </footer>
  </body>
</html>
